$spaceAmounts: (6, 12, 16, 20, 24, 28, 36, 48, auto);

@each $space in $spaceAmounts {
  @if $space==auto {
    .m-#{$space} {
      margin: #{$space};
    }

    .mx-#{$space} {
      margin-left: #{$space};
      margin-right: #{$space};
    }

    .my-#{$space} {
      margin-top: #{$space};
      margin-bottom: #{$space};
    }

    .ml-#{$space} {
      margin-left: #{$space};
    }

    .mr-#{$space} {
      margin-right: #{$space};
    }

    .mb-#{$space} {
      margin-bottom: #{$space};
    }

    .mt-#{$space} {
      margin-top: #{$space};
    }
  } @else {
    .m-#{$space} {
      margin: #{$space}px;
    }

    .mx-#{$space} {
      margin-left: #{$space}px;
      margin-right: #{$space}px;
    }

    .my-#{$space} {
      margin-top: #{$space}px;
      margin-bottom: #{$space}px;
    }

    .ml-#{$space} {
      margin-left: #{$space}px;
    }

    .mr-#{$space} {
      margin-right: #{$space}px;
    }

    .mb-#{$space} {
      margin-bottom: #{$space}px;
    }

    .mt-#{$space} {
      margin-top: #{$space}px;
    }

    .p-#{$space} {
      padding: #{$space}px;
    }

    .px-#{$space} {
      padding-left: #{$space}px;
      padding-right: #{$space}px;
    }

    .py-#{$space} {
      padding-top: #{$space}px;
      padding-bottom: #{$space}px;
    }

    .pl-#{$space} {
      padding-left: #{$space}px;
    }

    .pr-#{$space} {
      padding-right: #{$space}px;
    }

    .pb-#{$space} {
      padding-bottom: #{$space}px;
    }

    .pt-#{$space} {
      padding-top: #{$space}px;
    }
  }
}

$displays: (none, block, flex);

@each $display in $displays {
  .d-#{$display} {
    display: #{$display};
  }
}

$color-primary: #333;

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Libre Baskerville", serif;
  color: $color-primary;
  font-size: 60px;
}

p,
li,
a,
a:link,
a:visited,
a:active {
  font-family: "Zilla Slab", serif;
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a.menu-item,
a.menu-item:hover {
  text-decoration: none;
}

//Front page
.front-page-wrapper {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  height: 100vh;
  // width: 100vw;
  position: relative;
}

.front-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .front-page {
    height: 90vh;
  }
}

@media (min-width: 993px) {
  .front-page {
    height: 100vh;
  }
}

.container-aside {
  display: none;
}

@media (min-width: 768px) {
  .container-aside {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    width: 25%;
    margin: 48px 36px 12px 36px;
  }
}

@media (min-width: 992px) {
  .container-aside {
    margin: 48px 36px;
  }
}

.site-name {
  margin: 0 12px;
}

@media (min-width: 768px) {
  .site-name {
    margin-bottom: 16px;
  }
}

.menu {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    display: block;
  }
}

.menu-item {
  margin-bottom: 6px;
}

.front-page-img {
  max-width: 100%;
  height: 60vh;
  object-fit: cover;
  overflow-x: hidden;
  margin: 12px;
}

@media (min-width: 768px) {
  .front-page-img {
    margin: 48px 36px 12px 36px;
    height: auto;
  }
}

@media (min-width: 992px) {
  .front-page-img {
    margin: 48px 36px;
  }
}

.footer-aside {
  display: none;
}

@media (min-width: 992px) {
  .footer-aside {
    display: block;
  }
}

.footer-bottom {
  display: none;
}

@media (min-width: 768px) and (max-width: 992px) {
  .footer-bottom {
    display: flex;
    height: 10vh;
  }
}

@media (min-width: 768px) {
  .footer-bottom-items {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 36px 36px 36px;
  }
}

//Mobile Menu
.front-page-mobile {
  width: 100%;
}

@media (min-width: 768px) {
  .front-page-mobile {
    display: none;
  }
}

.nav-mobile {
  padding: 6px 12px;
  background-color: $color-primary;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.mobile-menu {
  height: 0;
  background-color: $color-primary;
  position: absolute;
  top: 60px;
  width: 100%;
  transition: height 0.25s ease-in;
}

.mobile-menu.toggle {
  height: 30vh;
  transition: height 0.25s ease-in;
}

.hamburger {
  width: 28px;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-left: auto;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  position: relative;
  height: 22px;
}

.hamburger-close {
  display: none;
}

.hamburger-close.toggle {
  display: block;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  background-color: #fff;
  width: 100%;
  height: 4px;
  margin-bottom: 4px;
  display: block;
}

.line.toggle {
  display: none;
}

.line:last-child {
  margin-bottom: 0;
}
//Banner header
.banner-img {
  width: 100%;
  object-fit: cover;
  height: 70vh;
}
