.m-6 {
  margin: 6px;
}

.mx-6 {
  margin-left: 6px;
  margin-right: 6px;
}

.my-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.ml-6 {
  margin-left: 6px;
}

.mr-6 {
  margin-right: 6px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-6 {
  margin-top: 6px;
}

.p-6 {
  padding: 6px;
}

.px-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.pl-6 {
  padding-left: 6px;
}

.pr-6 {
  padding-right: 6px;
}

.pb-6 {
  padding-bottom: 6px;
}

.pt-6 {
  padding-top: 6px;
}

.m-12 {
  margin: 12px;
}

.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.p-12 {
  padding: 12px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.m-16 {
  margin: 16px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.p-16 {
  padding: 16px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pl-16 {
  padding-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pt-16 {
  padding-top: 16px;
}

.m-20 {
  margin: 20px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.p-20 {
  padding: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.m-24 {
  margin: 24px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.p-24 {
  padding: 24px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pl-24 {
  padding-left: 24px;
}

.pr-24 {
  padding-right: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pt-24 {
  padding-top: 24px;
}

.m-28 {
  margin: 28px;
}

.mx-28 {
  margin-left: 28px;
  margin-right: 28px;
}

.my-28 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.ml-28 {
  margin-left: 28px;
}

.mr-28 {
  margin-right: 28px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mt-28 {
  margin-top: 28px;
}

.p-28 {
  padding: 28px;
}

.px-28 {
  padding-left: 28px;
  padding-right: 28px;
}

.py-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.pl-28 {
  padding-left: 28px;
}

.pr-28 {
  padding-right: 28px;
}

.pb-28 {
  padding-bottom: 28px;
}

.pt-28 {
  padding-top: 28px;
}

.m-36 {
  margin: 36px;
}

.mx-36 {
  margin-left: 36px;
  margin-right: 36px;
}

.my-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.ml-36 {
  margin-left: 36px;
}

.mr-36 {
  margin-right: 36px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mt-36 {
  margin-top: 36px;
}

.p-36 {
  padding: 36px;
}

.px-36 {
  padding-left: 36px;
  padding-right: 36px;
}

.py-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.pl-36 {
  padding-left: 36px;
}

.pr-36 {
  padding-right: 36px;
}

.pb-36 {
  padding-bottom: 36px;
}

.pt-36 {
  padding-top: 36px;
}

.m-48 {
  margin: 48px;
}

.mx-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.ml-48 {
  margin-left: 48px;
}

.mr-48 {
  margin-right: 48px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mt-48 {
  margin-top: 48px;
}

.p-48 {
  padding: 48px;
}

.px-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.pl-48 {
  padding-left: 48px;
}

.pr-48 {
  padding-right: 48px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pt-48 {
  padding-top: 48px;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Libre Baskerville", serif;
  color: #333;
  font-size: 60px;
}

p,
li,
a,
a:link,
a:visited,
a:active {
  font-family: "Zilla Slab", serif;
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a.menu-item,
a.menu-item:hover {
  text-decoration: none;
}

.front-page-wrapper {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  height: 100vh;
  position: relative;
}

.front-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .front-page {
    height: 90vh;
  }
}
@media (min-width: 993px) {
  .front-page {
    height: 100vh;
  }
}
.container-aside {
  display: none;
}

@media (min-width: 768px) {
  .container-aside {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    width: 25%;
    margin: 48px 36px 12px 36px;
  }
}
@media (min-width: 992px) {
  .container-aside {
    margin: 48px 36px;
  }
}
.site-name {
  margin: 0 12px;
}

@media (min-width: 768px) {
  .site-name {
    margin-bottom: 16px;
  }
}
.menu {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    display: block;
  }
}
.menu-item {
  margin-bottom: 6px;
}

.front-page-img {
  max-width: 100%;
  height: 60vh;
  object-fit: cover;
  overflow-x: hidden;
  margin: 12px;
}

@media (min-width: 768px) {
  .front-page-img {
    margin: 48px 36px 12px 36px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .front-page-img {
    margin: 48px 36px;
  }
}
.footer-aside {
  display: none;
}

@media (min-width: 992px) {
  .footer-aside {
    display: block;
  }
}
.footer-bottom {
  display: none;
}

@media (min-width: 768px) and (max-width: 992px) {
  .footer-bottom {
    display: flex;
    height: 10vh;
  }
}
@media (min-width: 768px) {
  .footer-bottom-items {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 36px 36px 36px;
  }
}
.front-page-mobile {
  width: 100%;
}

@media (min-width: 768px) {
  .front-page-mobile {
    display: none;
  }
}
.nav-mobile {
  padding: 6px 12px;
  background-color: #333;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.mobile-menu {
  height: 0;
  background-color: #333;
  position: absolute;
  top: 60px;
  width: 100%;
  transition: height 0.25s ease-in;
}

.mobile-menu.toggle {
  height: 30vh;
  transition: height 0.25s ease-in;
}

.hamburger {
  width: 28px;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-left: auto;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  position: relative;
  height: 22px;
}

.hamburger-close {
  display: none;
}

.hamburger-close.toggle {
  display: block;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  background-color: #fff;
  width: 100%;
  height: 4px;
  margin-bottom: 4px;
  display: block;
}

.line.toggle {
  display: none;
}

.line:last-child {
  margin-bottom: 0;
}

.banner-img {
  width: 100%;
  object-fit: cover;
  height: 70vh;
}

/*# sourceMappingURL=style.css.map */
